@use '../abstracts';
.about-hero {
     background-color: abstracts.$accent-color;
       padding: 100px 200px;
       margin-bottom: 50px;
       margin-top: 130px;
    h2 {
       text-align: center;
       color: abstracts.$primary-color;
       font-size: 20px;
       font-family: abstracts.$heading-font-family;
    }
}
.story, .mission, .about-ostaya {
    
    h2 {
        text-align: center;
        color: abstracts.$primary-color;
       font-size: 30px;
       font-family: abstracts.$heading-font-family;
       font-weight: abstracts.$font-regular;
    }
    .img-box{
        border: 1px solid abstracts.$body-text-color;
        padding: 100px 100px;
        margin: 40px 0px 30px 0px;
    }
    p {
        margin: 35px 0px 40px 0px
    }
    .learn-more {
        background-color: abstracts.$secondary-color;
        text-decoration: none;
        color: abstracts.$white;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 100px;
        font-family: Arial, Helvetica, sans-serif;

    }
}
.mission {
    background-color: abstracts.$accent-color;
    padding-top: 40px;
}

.about-ostaya {
    margin-top: 80px;
}
.info {
     background-color: abstracts.$accent-color;
    padding: 40px 0px 40px 0;
    margin: 100px 0px 100px 0px;
    h2 {
        color: abstracts.$secondary-color;
        text-align: center;
        font-weight: abstracts.$font-regular;
    }
}
