@use '../abstracts';

.contact-hero {
    margin-top: 100px;
    background-color: abstracts.$body-text-color;
    padding: 10px;
}
.contact-header {
    margin-top: 100px;

    h2 {
        color: abstracts.$primary-color;
        font-family: abstracts.$heading-font-family;
        margin-bottom: 10px;
    } 
}
.contact-section {
    background-color: abstracts.$accent-color;
    margin: 50px 0px 60px 0px;
    padding: 20px;

 h3 {
    text-align: center;
    }
    input,
  textarea {
   width: 100%;
   padding: 7px;
   background-color: abstracts.$white;
   border: 1px solid abstracts.$body-text-color;
   margin-bottom: 20px;
     }

  button[type="submit"] {
   width: 20%;
   padding: 8px;
   background-color: abstracts.$accent-color;
   border: 1px solid abstracts.$body-text-color;
   cursor: pointer;
   font-size: 16px;
   margin-top: 15px;
   margin-bottom: 15px;
   transition: all 0.3s ease-in-out;
   border-radius: 7px;
   margin-left: auto; 
   display: block;

   &:hover {
   background-color: abstracts.$secondary-color;
   color: abstracts.$white;
 }
 }
}
.gg-map {
    background-color: abstracts.$body-text-color;
    padding: 100px;
    text-align: center;
    color: abstracts.$white;
    margin-top: 100px;
}
.contact-info {
    margin-top: 100px;
    text-align: center;
    a {
        text-decoration: none;
        color: abstracts.$secondary-color;
        font-weight: abstracts.$font-bold;
    }
}
